.btn1{
    background-color: #bbb3b1;  
    font-size: 17px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    font-family: Arial, sans-serif;
    background-color:white;
}
body{
    background-color:white;
    color: white;
}

.header{
    background-color:#bbb3b1;
    padding: 30px 0;
    text-align: center;
    border-bottom: 2px solid white;
    position: relative;
    font-family:Verdana;
    color: #795548;
    
}

.footer{
    background-color: #575881;
    color: #575881;
    text-align: 20px 0;
    border-top: 2px solid ;
}

.label{
    background-color:#795548;
    border-radius: solid;
    font-size: 20px;
}

.input{
    border-radius: 10px;
    block-size: 20px;
}

